
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>
<%= User.get(user_id).email %>

 </h1>
<a href="/signout"> Sign Out </a>

<form action="/add" method="POST">
<input type="text" name="task" />
<br>
<input type="submit" value="Add Task" />
</form>
<ul>
<% tasks.each do |todo| %>
<% if todo.done %>
<li class="strikethrough"> 
<% else %>
<li>
<% end %>
<%= todo.task %>
, 
<span>
<form action="/done" method="POST">
<input type="hidden" name="id" value="<%= todo.id %>">
<% if todo.done %>
<input type="submit" value="UnDone">
<% else %>
<input type="submit" value="Done">
<% end %>
</form>
</li>

<% end %>
</ul>
<style type="text/css">
.strikethrough {
	text-decoration: line-through;
}	
</style>




</body>
</html>
